* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.42;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

h1, h2, h3 {
    margin: 0;
}

.header {
    padding-top: 30px;
    padding-bottom: 30px;
}

.container {
    max-width: 865px;
    margin: 0 auto;
    padding: 0 5px;
}

.header__container {
    max-width: 1032px;
    display: flex;
    justify-content: flex-end;
}

.nav__list {
    display: flex;
    font-weight: 500;
    font-size: 20px;
}

.nav__item {
    margin-left: 33px;
}

.about__container {
    display: flex;
}

.about__avatar {
    width: 243px;
    height: 243px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 106px;
    margin-top: 140px;
    flex-shrink: 0;
}

.about__avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__info {
    padding-right: 12%;
}

.button {
    margin-top: 38px;
    width: 208px;
    height: 47px;
    background-color: #FF6464;
    border-radius: 2px;
    color: white;
    border-style: none;
}

.about__desc {
    margin-top: 40px;
}

.about__text-title {
    margin-top: 125px;
}

.recent-posts {
    background-color: #EDF7FA;
    padding: 27px 0 32px;
    margin-top: 88px;
}

.recent-posts__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}

.recent-posts__articles {
    display: flex;
    justify-content: space-between;
}

.recent-posts__title {
    font-size: 22px;
}

.recent-posts__link {
    color: #00A8CC;
    font-size: 16px;
}

.recent-posts__text {
    font-size: 16px;
    margin-top: 15px;
}

.recent-posts__info {
    font-size: 18px;
    margin-top: 15px;
}

.recent-posts__articless {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    width: 49%;
    margin-right: 2%;
    padding: 30px 48px 35px 23px;
}

.recent-posts__articless:last-child {
    margin-right: 0;
}

.recent-posts__separator {
    margin: 0px 26px;
}

.recent-posts__subtitle {
    color: #21243D;
    font-weight: bold;
    font-size: 26px;
}

.work {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.title__category {
    font-size: 22px;
    margin-top: 34px;
    margin-bottom: 43px;
    margin-left: 290px;
}

.work__title {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 24px;
}

.work__subtitle {
    display: flex;
    margin-bottom: 24px;
}

.work__date {
    margin-right: 26px;
}

.work__img {
    width: 246px;
    height: 180px;
    border-radius: 6px;
}

.work__info {
    margin-left: 18px;
    width: 600px;
    height: 44px;
}

.work__date {
    width: 62px;
    height: 25px;
    display: flex;
    justify-content: center;
    background-color: #142850;
    border-radius: 16px;
    color: white;
}

.work__categoty {
    color: #8695A4;
    font-size: 20px;
}

.work__text {
    font-size: 16px;
}

.featured__solid {
    border: 1px solid #E0E0E0;
    width: 863px;
    margin-left: 500px;
}

.notice__list {
    display: flex;
    justify-content: center;
}

.notice__icon {
    margin-left: 35px;
    margin-top: 269px;
}